.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.main {
  padding-top: 28px;
  width: 100%;
}
