.headphones__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 350px));
  justify-content: center;
  grid-auto-rows: repeat(2, 1fr);
  gap: 30px;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, minmax(min-content, 350px));
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(1, minmax(min-content, 350px));
  }
}

.headphones__title {
  margin: 0 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}
